# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
/build/
/captures
.externalNativeBuild
.cxx
local.properties

# App specific
**/build/
**/intermediates/
**/generated/
**/tmp/
**/kotlin/
**/kspCaches/
**/outputs/

# Large Projects & Temporary Folders
Ieungsa_Project/
new_korean_model_distilkobert/
vosk-model-ko-0.22/
zoom_logo.py
.claude/

# Security & Keys
**/google-services.json
*.jks
*.keystore
app/release/*

# System
.DS_Store
Thumbs.db
