# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
/build/
/captures
.externalNativeBuild
.cxx
local.properties

# App specific
**/build/
**/intermediates/
**/generated/
**/tmp/
**/kotlin/
**/kspCaches/
**/outputs/

# Security & Keys (Keep these secure!)
**/google-services.json
*.jks
*.keystore
app/release/*

# System
.DS_Store
Thumbs.db